<div *ngIf="!isLoading">
  <div class="column">
    <h3 class="text-xxl-bold text-dark center" style="margin: 24px 0">Equipos de fútbol</h3>
    <div class="center">
      <h4 class="text-base-regular text-gray subtitle">
        Selecciona un equipo para iniciar la busqueda avanzada de jugadores
      </h4>
    </div>
  </div>

  <div class="column" style="margin-top: 30px">
    <label class="text-base-regular text-gray">Mostrando equipos de fútbol:</label>

    <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center">
      <card-team
        [name]="'Todos los equipos de la liga'"
        [subname]="league_name"
        [data]="clubs.length + ' equipos disponibles'"
        [color]="'#4b5563'"
        [id]="'ALL_TEAMS'"
        (cardSelected)="handleClubSelected($event)"
        style="cursor: pointer"
      ></card-team>

      <card-team
        *ngFor="let club of clubs; let i = index"
        [name]="club.club_name"
        [subname]="getLeagueName(club.league_id)"
        [data]="club.total_matches + ' partidos jugados'"
        [color]="colors[i % colors.length]"
        [id]="club.club_id.toString()"
        (cardSelected)="handleClubSelected($event)"
        style="cursor: pointer"
      ></card-team>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-container">Cargando...</div>
