<div *ngIf="!isLoading">
  <div class="column">
    <h3 class="text-xxl-bold text-dark center" style="margin: 24px 0">Buscador de jugadores</h3>
    <div class="center">
      <h4 class="text-base-regular text-gray subtitle">
        Encuentra el jugador perfecto usando filtros avanzados
      </h4>
    </div>
  </div>

  <div class="column" style="margin-top: 30px">
    <div
      class="card column"
      style="text-align: start; margin: 0; padding-top: 0; padding-left: 0; padding-right: 0"
    >
      <div style="margin: 2rem 3rem 0 2rem" (click)="toggleFilters()">
        <label class="text-md-semibold text-dark">Filtros:</label>
      </div>

      <hr class="divider" />

      <div style="padding: 0rem 3rem" *ngIf="showFilters">
        <div
          class="row-start"
          style="
            margin: 0;
            gap: 20px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
          "
        >
          <div
            class="column-start"
            style="margin-top: 0; flex: 2; min-width: 200px; margin-right: 15px"
          >
            <label class="text-sm-medium text-gray">Buscar jugadores por nombre</label>
            <input
              type="text"
              placeholder="Nombre"
              class="input-field text-sm-regular text-dark"
              style="width: 100%"
            />
          </div>
        </div>

        <div class="row" style="flex-wrap: wrap; justify-content: center; margin: 0">
          <div class="row-without-margins content-row" style="gap: 20px; margin-top: -20px">
            <div class="column-start two-input">
              <label class="text-sm-medium text-gray">Edad</label>
              <div style="display: flex; gap: 5px">
                <input
                  type="number"
                  placeholder="Min"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.age_min"
                  style="width: 100%"
                />
                <input
                  type="number"
                  placeholder="Max"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.age_max"
                  style="width: 100%"
                />
              </div>
            </div>

            <div class="column-start two-input">
              <label class="text-sm-medium text-gray">Altura</label>
              <div style="display: flex; gap: 5px">
                <input
                  type="number"
                  placeholder="Min"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.height_min"
                  style="width: 100%"
                />
                <input
                  type="number"
                  placeholder="Max"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.height_max"
                  style="width: 100%"
                />
              </div>
            </div>

            <div class="column-start two-input">
              <label class="text-sm-medium text-gray">Peso</label>
              <div style="display: flex; gap: 5px">
                <input
                  type="number"
                  placeholder="Min"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.weight_min"
                  style="width: 100%"
                />
                <input
                  type="number"
                  placeholder="Max"
                  class="input-field text-sm-regular text-dark"
                  [(ngModel)]="filters.weight_max"
                  style="width: 100%"
                />
              </div>
            </div>
          </div>

          <div class="row-without-margins content-row" style="margin-top: -20px">
            <div class="column-start">
              <label class="text-sm-medium text-gray">Posición</label>
              <select class="input-field text-sm-regular text-dark" [(ngModel)]="filters.position">
                <option value="">Todas las posiciones</option>
                <option *ngFor="let pos of positions" [value]="pos">{{ pos }}</option>
              </select>
            </div>

            <div class="column-start">
              <label class="text-sm-medium text-gray">Club</label>
              <select class="input-field text-sm-regular text-dark" [(ngModel)]="filters.club_id">
                <option value="">Todos los clubes</option>
                <option *ngFor="let club of clubs" [value]="club.club_id">
                  {{ club.club_name }}
                </option>
              </select>
            </div>

            <div class="column-start">
              <label class="text-sm-medium text-gray">Talento</label>
              <input
                type="number"
                placeholder="15"
                class="input-field text-sm-regular text-dark"
                [(ngModel)]="filters.talent_min"
              />
            </div>

            <div class="column-start">
              <label class="text-sm-medium text-gray">Valor max (M €)</label>
              <input
                type="number"
                placeholder="200"
                class="input-field text-sm-regular text-dark"
                [(ngModel)]="filters.market_value_max"
              />
            </div>

            <div class="column-start">
              <label class="text-sm-medium text-gray">Valor estimado max (M €)</label>
              <input
                type="number"
                placeholder="150"
                class="input-field text-sm-regular text-dark"
                [(ngModel)]="filters.estimated_value_max"
              />
            </div>
          </div>

          <div class="row-without-margins content-row" style="margin-top: -20px">
            <div class="column-start">
              <label class="text-sm-medium text-gray">Salario mensual max (€)</label>
              <input
                type="number"
                placeholder="1000000"
                class="input-field text-sm-regular text-dark"
                [(ngModel)]="filters.salary_month_max"
              />
            </div>

            <div
              class="column-start"
              style="margin-top: 0; flex: 1; min-width: 150px; margin-top: 15px"
            >
              <label class="text-sm-medium text-gray">País</label>
              <select
                class="input-field text-sm-regular text-dark"
                style="width: 100%"
                [(ngModel)]="filters.country_code"
              >
                <option value="" selected>Todos los países</option>
                <option *ngFor="let country of countries" [value]="country.country_code">
                  {{ country.country }}
                </option>
              </select>
            </div>

            <div
              class="column-start"
              style="margin-top: 0; flex: 1; min-width: 150px; margin-top: 15px"
            >
              <label class="text-sm-medium text-gray">Limite de jugadores</label>
              <input
                type="number"
                placeholder="100"
                class="input-field text-sm-regular text-dark"
                style="width: 100%"
                [(ngModel)]="filters.limit"
                [value]="filters.limit"
              />
            </div>
          </div>

          <div
            class="row-without-margins"
            style="justify-content: end; margin-top: 40px; gap: 10px; width: 100%"
          >
            <button class="button-secondary" (click)="limpiarFiltros()">Limpiar filtros</button>
            <button class="button-primary" (click)="searchPlayers()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column" style="margin-top: 30px" *ngIf="players.length > 0">
    <label class="text-base-regular text-gray">Resultados:</label>
    <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center">
      <app-player-info
        *ngFor="let player of players"
        [id]="player.player_id"
        [name]="player.name"
        [countryCode]="player.country_code"
        [position]="player.position"
        [team]="getTeamByCode(player.club_id)"
        [age]="player.age"
        [league]="getLeagueByClubId(player.club_id)"
        [value]="player.market_value"
        [estimatedValue]="player.estimated_value"
        [height]="player.height"
        [weight]="player.weight"
        [talent]="player.talent"
        (cardSelected)="handlePlayerSelected(player.player_id)"
      ></app-player-info>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-container">Cargando...</div>
