<div *ngIf="!isLoading">
  <div class="column">
    <h3 class="text-xxl-bold text-dark center" style="margin: 24px 0">Ligas de fútbol</h3>
    <div class="center">
      <h4 class="text-base-regular text-gray subtitle">
        Selecciona una liga para iniciar la busqueda avanzada de jugadores
      </h4>
    </div>
  </div>

  <div class="column" style="margin-top: 30px">
    <label class="text-base-regular text-gray">Mostrando ligas de fútbol:</label>

    <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center">
      <card-team
        *ngFor="let league of leagues; let i = index"
        [name]="league.competition_name"
        [subname]="'2024 - 2025'"
        [data]="league.gender == 'M' ? 'Masculino' : 'Femenino'"
        [color]="colors[i % colors.length]"
        [id]="league.league_id.toString()"
        (cardSelected)="handleLeagueSelected($event)"
        style="cursor: pointer"
      ></card-team>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading-container">Cargando...</div>
